//// import Fonts from _fonts.scss
@import '../fonts';

.body {
    width: unset;
}
.response-xs{
   display: none !important;
}
// .privacy-gdpr{
//     display: none !important;
// }
.privacy{
    padding-left: 0px !important;
    padding-right: 0px !important;
   
}
p{
    &.f-regular{
        font-family: fontGraphikRegular !important;
    }
}

.pri:hover{
    color: #665cd7 !important;
}
.pri1{
    color: #665cd7 !important;
}
.card1 {
    margin-top: 6%;
    width: 100% !important;
    height: 240px;
    background-color: #B71C1C0D;
    border-radius: .0em;
    border-color: transparent;
    .row {
        padding-left : 0px !important;
        padding-right: 0px !important;
        margin-left  : 0px !important;
        margin-right : 0px !important;
    }
    .row_privacy {
        color          : #000;
        font-size      : 48px;
        justify-content: center;
        margin-top     : 85px;
        font-family:fontGraphikMedium;
    }
    .row_date{
        font-family: fontGraphikRegular;
        opacity: 0.8;
    }
    @media screen and (max-width: 603px) {
        .row_privacy {
            color          : #000;
            font-size      : 24px;
            margin-top     : 130px;
            justify-content: center !important;
        }
    }
    @media screen and (max-width: 1024px) and (min-width: 603px) {
        .row_privacy {
            color          : #000;
            font-size      : 38px;
            margin-top     : 110px;
            justify-content: center !important;
        }
    }
    .row_date {
        color          : #000;
        margin-top     : 10px;
        justify-content: center;
    }
    .row_prior {
        color          : #000;
        margin-top     : 10px;
        justify-content: center;
    }
}

.container{
    .head_row {
        margin-top: 6% !important;
    }
}
.paragraph{
    line-height: 30px;
    margin-bottom: 12px;
    color: #595959;
    font-family: fontGraphikRegular;
}
.sub-paragraph{
    line-height: 30px;
    margin-bottom: 23px;
    color: #595959;
}
.sub-head{
    margin-bottom: 14px;
    color: #595959;
}
.class_1 {
    .para1 {
        font-size    : 15px;
        line-height  : 24px;
        color        : #787882;
        margin-bottom: 21px;
    }
}
.head_theme {
    .head_theme {
        font-size     : 20px;
        line-height   : 32px;
        font-weight   : 700;
        font-family: fontGraphikSemibold;
        letter-spacing: .27px;
        margin-bottom : 15px;
        margin-top    : 15px;
        color         : #212121;
        &_1st{
            margin-top: 0px;
        }
    }
   
   
        .cb-factor__item {
            width           : 12px;
            height          : 4px;
            border-radius   : 1px;
            background-color: #E22020;
            left            : -10px;
            margin-top      : 10px !important;
            margin-right    : 12px;
    }
}
.head_theme1 {
    .head_theme1 {
        font-size     : 17px;
        line-height   : 32px;
        font-weight   : 700;
        
        letter-spacing: .27px;
        margin-bottom : 10px;
        margin-top    : 0;
        color         : #212121;
    }
      }
   
.article {
    .cb-factor__item {
        width: 6px;
    height: 6px;
    border-radius: 1px;
    background-color: #E22020;
    left: 0px;
    margin-top: 10px !important;
    margin-right: 12px;
    top: -3px;
    position: relative;
    border-radius: 50px;
    }
    .heads {
        margin-top   : 10px;
        margin-bottom: 12px;
        color        : rgba(0, 0, 0, .54);
        font-size    : 16px;
        font-weight  : 750;
        font-family: fontGraphikRegular;
        display      : flex;
        margin-left  : 0px !important;
    }
}
.right_side {
    position   : relative !important;
    right      : 0 !important;
}
.container {
    position: sticky;
    top     : 90px;
}
.head_right {
   margin-left: 4px;
    font-size    : 16px;
    font-weight  : 600;
    font-family: fontGraphikMedium;
    letter-spacing: .27px;
    color        : #212121;
    margin-bottom: 2%;
}
.linksz {
    width      : 100%;
    cursor     : pointer;
    line-height: 40px;
    color: #595959;
    font-weight: 400;
    font-size: 16px;
    font-family: fontGraphikRegular;
    display:flex !important;
    margin-left: 2px;

}

@media screen and (max-width: 427px) {
    .response-xs{
        display: flex !important;
        justify-content: flex-start;
        width: 100%;
        margin: 0px auto;
    }
    .right_side {
        display: none !important;
    }}
    .footer_social_media1 {
        display: none;
    }
@media screen and (max-width: 768px) {
    
    // .privacy-gdpr{
    //     display: none !important;
    // }
    .privacy{
        padding-left: 0px !important;
        padding-right: 0px !important;
       
    }
    .pri:hover{
        color: #E22020 !important;
    }
    .pri1{
        color: #E22020 !important;
    }
    .right_side {
        margin-left: 0px;
    }}
    .p {
        line-height: 30px;
        color: #595959;
        font-weight: 400;
        font-size: 16px;
       
    }
    
    .cb-factor__item_1 {
        width: 3px !important;
        height: 12px !important;
        background-color: #fff ;
        left: -8px;
        top: 2px;
        margin-top: 13px !important;
        display: block; 
        position: relative;
       
    }
    .sidePadding {
        color: #E22020 ;
        .cb-factor__item_1 {
          display:flex;
          background-color: #E22020 ;
        }
        
    }

    .sidePadding_test{
        color: #E22020 ;
        .cb-factor__item_1 {
          display:flex;
          background-color: #E22020 ;
        }
    }
.list-type-items{
    color: #595959 !important;
    font-weight:400 !important;
    line-height: 1.8;
}