
@font-face {
    font-family: "fontGraphikBold";
    src: url("../plugin/fonts/graphik/GraphikBold.otf");
}

@font-face {
    font-family: "fontGraphikMedium";
    src: url("../plugin/fonts/graphik/GraphikMedium.otf");
}

@font-face {
    font-family: "fontGraphikLight";
    src: url("../plugin/fonts/graphik/GraphikLight.otf");
}

@font-face {
    font-family: "fontGraphikSemibold";
    src: url("../plugin/fonts/graphik/GraphikSemibold.otf");
}

@font-face {
    font-family: "fontGraphikRegular";
    src: url("../plugin/fonts/graphik/GraphikRegular.otf");
}
