//// import Fonts from _fonts.scss
// @import 'fonts.scss';

:root {
    --colorWhite: #FFFFFF;
    --colorBlueGender: #3D8FF7;
    --colorBlueGenderLight: #99C4FE;
    --colorPinkGender: #E23F7B;
    --colorPinkGenderLight: #F48EB6;
    --global-size: 20px;
    --ribbon-size: var(--global-size);
    --ribbon-bg: var(--colorBlueGender);
    --ribbon-fg: var(--colorWhite);
    --tag-size: var(--global-size);
    --tag-bg: var(--colorPinkGender);
    --tag-fg: var(--colorWhite);
}

@font-face {
    font-family: "fontGraphikBold";
    src: url("../plugin/fonts/graphik/GraphikBold.otf");
}

@font-face {
    font-family: "fontGraphikMedium";
    src: url("../plugin/fonts/graphik/GraphikMedium.otf");
}

@font-face {
    font-family: "fontGraphikLight";
    src: url("../plugin/fonts/graphik/GraphikLight.otf");
}

@font-face {
    font-family: "fontGraphikSemibold";
    src: url("../plugin/fonts/graphik/GraphikSemibold.otf");
}

@font-face {
    font-family: "fontGraphikRegular";
    src: url("../plugin/fonts/graphik/GraphikRegular.otf");
}

.fontGraphikMedium {
    font-family: "fontGraphikMedium";
}

.fontGraphikRegular {
    font-family: "fontGraphikRegular";
}

.fontGraphikLight {
    font-family: "fontGraphikLight";
}

.fontGraphikBold {
    font-family: "fontGraphikBold";
}

.fontGraphikSemibold {
    font-family: "fontGraphikSemibold";
}


.fontLatoBold {
    font-family: "fontLatoBold";
}

.fontLatoRegular {
    font-family: fontGraphikRegular;
}

.fontLatoBlack {
    font-family: "fontLatoBlack";
}

.fontNova {
    font-family: "fontNova";
}


#pre-loader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: 150% 150%;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    z-index: 99999999;
    align-items:center;
    justify-content:center;
    // background: linear-gradient(0deg, rgba(0, 73, 144, 1) -20%, rgba(255,255,255,1) 40%);
    img{
        width: 200px;
    }
}

.first_section {
    margin-top: 160px;
    margin-bottom: 60px;
    font-family: fontGraphikRegular;
        @media (max-width:768px){
            margin-top: 120px;
            margin-bottom: 20px !important;
        }
    .main {
        .row_1{
            .ribbon-right{
                padding-bottom: 30px;
                .ribbon-content-box{
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                }
                #ribbon-container {
                    position: absolute;
                    font-size: 16px;
                    font-weight: 1000;
                    line-height: 18px;
                    color:#B71C1C;
                    @media (max-width:767px){
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                        width: 190px;
                        font-size: 14px;
                    }
                    @media (max-width:425px){
                        font-size: 12px;
                    }

                }
                #ribbon-container a {
                    display: block;
                    padding: 12px 50px 10px 18px;
                    position: relative;
                    background-color: #B71C1C0F;
                    text-decoration: none;
                    border-top-left-radius:8px;
                    border-bottom-left-radius:8px;
                }
                #ribbon-container a:before {
                    content: "";
                    height: 0;
                    width: 0;
                    display: block;
                    position: absolute;
                    color:white;
                    top: 0;
                    right: 0;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid transparent;
                    border-right: 20px solid ;
                }                
            }
        }
        .row_2 {
            .title_expansion {
                font-family: "fontGraphikSemibold";
                padding-top: 10px;
                letter-spacing: 0.5px;
                color: #3C2F2F;
                opacity: 1;
                font-size: 56px;
                line-height: 1.1;
                overflow-wrap: break-word;
                @media (max-width:998px){
                    font-size: 40px;               
                }
            }
        }

        .row_3 {
            padding-top: 10px;
            // .helping-hands{
            //     position: absolute;
            //     top: 30%;
            //     right: -2%;
            //     width: 50px;
            //     height: 50px;
            //     border-radius: 50%;
            //     background: #FFFFFF 0% 0% no-repeat padding-box;
            //     box-shadow: 0px 3px 26px #00000014;
            //     border: 1px solid #3C2F2F1A;
            //     opacity: 1;
            //     background-image: url(/assets/svg/help.svg);
            //     background-size: 25px;
            //     background-position: center;
            // }
            .theme_udhiram {
                margin: 8px 0px;
                color: #767373;
                font-family: "fontGraphikRegular";
                font-size: 24px;
                overflow-wrap: break-word;
            }
        }

        .row_4 {
            padding-top: 0.4em;
            .icons_button{
                btn{
                    padding: 0px;
                    border-radius: 8px;
                    font-family: "fontGraphikMedium";
                    font-size: 12px;
                    svg{
                        width: 200px; 
                        height: 100%; 
                        @media(max-width: 992px){
                            width: 140px; 
                        }
                        @media(max-width: 767px){
                            width: 160px; 
                        }
                        @media(max-width: 392px){
                            width: 120px; 
                        }
                    }
                    @media(max-width: 468px){
                        margin-top: 15px;
                    }
                }
            }
        }

        .illustration_svg {
            width: 100%;
            height: 100%;
        }
    }
}

.second_section {
    .problems_ {
        padding-top: 30px;
        background: #00000005 !important;
        border-radius: 100px;
        opacity: 1;
        //  position: absolute;
        // width: 73%;
        margin-left: 90px;
        margin-right: 90px;
    }



    .main_2 {
        width: 100%;
        overflow: hidden;
        .problem {
            p {
                letter-spacing: 0px;
                color: #3C2F2F;
                opacity: 1;
                font-family: "fontGraphikBold";
                font-size: 30px;
                margin-bottom: 0px;
            }

            .underline_red {
                text-align: center;
            }
        }
    }

    .content_details {
        .details {
            text-align: center;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 180px;
            p {
                letter-spacing: 0px;
                line-height: 2.0;
                color: #3C2F2F;
                opacity: 1;
                font-family: fontGraphikRegular;
                font-size: 20px;
                text-align: center;
            }
        }
    }
    .head_card {
        margin-top: -160px;
        .mid-card{
            z-index: 3;
        }
        .inside {
            height: 280px;
            width: 280px;
            margin: auto;
            border-radius: 20px;
            box-shadow: 0px 5px 50px #6059590D;
            border: 1px solid #0000001A;

            .icons {
                height: 70px;
                width: 70px;
                background-color: #B71C1C0D;
                text-align: center;
                border-radius: 60px;
                margin: auto;
                margin-top: 35px;

                .icon_svg {
                    padding-top: 15px;
                    height: 65%;
                    width: 100%;
                }
            }
            .card-title{
                font-family: fontGraphikSemibold;
                margin-top: 5px;
                font-size: 17px;
                color: #3C2F2F;
            }
            .details__ {
                font-family:fontGraphikRegular;
                color:#767373;
                text-align: center;
            }
            @media (max-width:762px){
                .card-title{
                    font-size: 20px;
                }
                .details__ {
                    font-size: 18px;
                }
            }
        }
        @media (max-width:991px) and (min-width:768px){
            .inside{
                margin-top: 20px;
            }
        }
    }
}

@media (max-width:767px) and (min-width:0px){
    .second_section {
        .problems_ {
            margin-left: 0px;
            margin-right: 0px;
            background: #0000000a !important;
            height: 255px;
            border-radius: 10px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .content_details {
            word-break: break-word;
            overflow: hidden;
        }
    }
    .second_section {
        .head_card {
            padding-top: 60px;
            background: #0000000a !important;
            margin-top: 0px;
            padding-bottom: 20px;
            .inside {
                margin-bottom: 20px;
            }
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}
@media(max-width: 425px){
    .head_card{
        padding-top: 0px !important;
        .inside{
            width: 90% !important;
        }
    }
}

// section-3

.founder {
    background: #FFF5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 40px 20px;

    .purpose_title {
        text-align: center;

        p {
            letter-spacing: 0px;
            color: #3C2F2F;
            opacity: 1;
            font-family: "fontGraphikBold";
            font-size: 28px;
            margin-bottom: 0px;
        }
    }
    

    .content_founder {
        padding: 20px;
        .founder_mobile{
            display: flex;
            justify-content: center;
            flex-direction: row;
                .left_side_content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    order: 1;
                    width: 40%;
                }
                .inside_content {
                    p {
                        letter-spacing: 0px;
                        color: #3C2F2F;
                        opacity: 1;
                        font-family: "fontGraphikMedium";
                        line-height: 2.0;
                        font-size: 20px;
                    }
                
                    dt {
                        letter-spacing: 0px;
                        color: #B71C1C;
                        opacity: 1;
                        font-family: "fontGraphikBold";
                        font-size: 18px;
                    }
                
                    dd {
                        letter-spacing: 0px;
                        color: #767373;
                        opacity: 1;
                        font-size: 14px;
                        font-family: "fontGraphikMedium";
                    }
                }
                .image_holder{
                    order: 2;
                    width: 400px;
                    #founder_image{
                        width: 100%;
                    }
                }
                @media (max-width:767px) and (min-width:426px){
                    .image_holder{
                        #founder_image{
                            width: 50% !important;
                        }
                    }
                }
    }
    @media (max-width:767px){
        padding: 0px;
        .founder_mobile{
            flex-direction: column-reverse;
                .left_side_content{
                    display: block;
                    width: 100%;
                    padding: 0px 10px;
                    margin: auto;
                    text-align: justify;
                    .inside_content{
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        p {font-size: 18px; order: 3;}
                        dt {font-size: 16px; order: 1;}
                        dd {font-size: 12px; order: 2;}
                    }
                }
                .image_holder{
                    display: block;
                    width: 100%;
                    margin:auto;
                    text-align: center;
                    #founder_image{
                        width: 100%;
                    }
                }
            }
        }   
    }
    
}
.get_app
{
    margin: 60px 10px;
    .get{
        background-color:#3C2F2F ;
        padding: 60px;
        border-radius: 50px;
        .saviour{
            font-family: fontGraphikLight;
            font-size: 18px;
        }
        .left_side_content 
        {
            padding: 20px;
            background-image: url('../assets/svg/Group1613.svg');
            background-repeat: repeat;
            background-position: cover;
            @media (max-width:565px){
                background-image: none;
            }
            .boldfont
            {
                opacity: 0.95;
                p
                {
                    color: white;
                    font-family: "fontGraphikSemibold";
                    font-size: 34px;
                }
            }
            p 
            {
                color: white;
            }
            .badge{
                display: block;
                width: 220px;
                margin-left: -18px;
                cursor: pointer;
                @media (max-width: 575px){
                    margin: auto;
                }
            }

        }
        .blood_man_image{
            position: absolute;
            top: -130px;
            right: 10%;
            width: 255px;
        }
        @media (max-width:991px) and (min-width:768px){
            .blood_man_image{
                // display: none;
                position: absolute;
                top: -26px;
                right: -2%;
                width: 180px;
            }
        }
        @media(max-width:767px){
            .blood_man_image{
                display: none;
            }
        }

        .icons_button{
            btn{
                padding: 0px;
                border-radius: 8px;
                font-family: "fontGraphikMedium";
                font-size: 12px;
                svg{
                    width: 180px; 
                    height: auto; 
                    @media(max-width: 992px){
                        width: 160px; 
                    }
                    @media(max-width: 767px){
                        width: 180px; 
                    }
                }
                @media(max-width: 468px){
                    margin-top: 15px;
                }
            }
        }
}
}
.navigation {
    background-color: white;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: transform 500ms ease-out;
    width: 100%;
    height: 80px;

    // Modifiers
    &.-hidden {
        transform: translateY(-100%);
    }
    ul{
        display: flex;
        justify-content: space-between;
        margin: 0px; ///overriding bootstrap default
    }
    .btn {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1.45px 0px #0000000F;
        border: 1px solid #0000001A;
        border-radius: 10px;
        font-size: 15px;
        opacity: 1;
        font-weight: 600;
        padding: 10px 24px;
        @media (max-width:425px){
            font-size: 14px;
            padding: 10px 17px;
        }
    }
    
    .hidn {
        margin-bottom: 22px;
        @media (max-width:526px){
            display: none;
        }
    }

    .navigation-logo {
        width: 165px;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.navigation-container {
    line-height: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navigation-items {
    cursor: pointer;
    display: flex;
    align-items: center;
    .rbn {
        font-size: 9px;
        padding: 3px 4px;
        position: relative;
        right: -112px;
        top: 0.5px;
        width: 35px;
        height: 17px;
        border-radius: 3px;
        background: #0EB58F;
        line-height: 1.1;
        cursor: pointer;
        color: #fff;
    }

    >li {
        list-style-type: none;
        font-size: 16px;
        color: #B71C1C;
        font-weight: 600;
        cursor: pointer;
        &:nth-child(1){
            margin: 0px;
        }
    }
    
    .privacy_page{
        
        font-size: 14px;
        .privacy_lead{
            a{
                color: #767373;
                &:hover{
                    color: #B71C1C;
                }   
            }
        }
    }
}

.featured_in {
    background-color: #F8FAFF;

    .whole_featured {
        padding: 40px;

        .heading {
            .featured {


                text-align: center;
                margin-bottom: 24px;
                .featured_title {
                    margin-bottom: 0px;
                    letter-spacing: 0px;
                    color: #3C2F2F;
                    opacity: 1;
                    font-family: "fontGraphikBold";
                    font-size: 28px;


                }
            }
        }

        .iconsList{
            overflow: auto;
            text-align: center;
            display: flex;
            margin: auto;
        }
        .icons {
            text-align: center;
            display: flex;
            margin: auto;

            .icons_ {
                // height: auto;
                height: 60px;
                width: 150px;
                color: #B4B4B4 !important;
                fill: #B4B4B4;
            }
            @media (max-width:568px){
                .null-icon{
                    display: none;
                }
                .icons_ {
                    width: 120px;
                }
            }
            @media (min-width:568px){
                .icons_ {
                    width: 100px;
                }
            }
            @media (min-width:768px){
                .icons_ {
                    width: 190px;
                }
            }
        }
    }
}


.footer {

    padding: 40px !important;
    background: #F8FAFF 0% 0% no-repeat padding-box;
    width: 100%;
    border-top: 1px solid rgba(25, 34, 79, 0.08);
    padding: 12px 0px;

    .row {
        display: flex;

        flex-wrap: wrap;

        .crd {
            width: 16%;
            margin-top: 0px;
        }

        .footer_list {
            padding: 15px 80px 15px 0px;
            margin: 0;

            span {
                font-size: 1rem;
                color: #3C2F2F;
                cursor: pointer;
                //    &:hover {
                //        color: $primary-color;
                //    }
            }
        }

        .base-border-line{
            display: none;
            background-color: #0000001A;
        }
        .social_icon_link {
            text-align: right;
            padding: 10px;

            .dis_ {
                margin-right: -9.2px;
                display: flex;
                align-self: center;
                justify-content: flex-end;
            }
        }

        .social_icon {
            width: 34px;
            height: 32px;
            margin: 10px 10px 22px 0px;
            border-radius: 5px;
            display: flex;
            cursor: pointer;
            border-radius: 5px;
            background-color: rgba(29, 46, 137, 0.05);

            // transition: all 0.1s;
            &:hover {
                border: solid 1px #d4e4e6;
                box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
                background-color: #F8FAFF 0% 0% no-repeat padding-box;
                ;
            }

            i {
                margin: auto;
                color: #000;
            }
        }
        #companylogo{
            height: 24px;
            padding-bottom:2px;
            padding-left:10px;
        }
        .footer_address {
            // display: flex;
            align-items: center;
            padding-right: 0;

            .navigation-logos {
                width: 187px;
            }
            .from_our_heart{
                font-family: fontGraphikRegular;
                font-size: 14px;
            }
        }
    }

    .mail {
        width: 100%;
        border-right: 1px solid rgba(25, 34, 79, 0.08);
        font-family: fontGraphikMedium;
        font-size: 14px;
        color: #3C2F2F;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

@media (max-width:600px){
    .footer{
    .footer_social_media {
        .row {
            .social_icon_link {
                text-align: left;

                .dis_ {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }
}
.footer {  
    padding-left: 0px !important;
    padding-right: 0px !important;
        .row {
            .footer_address{
                padding-left: 30px !important;
            }
            .base-border-line{
                display: block;
                margin-top: 18px;
                margin-bottom:16px;
            }
            .social_icon_link {
                display: flex;
                flex-direction: column;
                padding: 0px;
                .dis_ {
                    margin-left: -2.6px;
                    align-self: flex-start;
                    justify-content: start;
                    order: 2;
                }

                .mail {
                    text-align: start;
                    font-family: fontGraphikRegular;
                    font-size: 12px;
                    color:#767373;
                }
                padding-left: 30px;
            }
            .base-border-line{
                display: block;
            }
            // .social_icon_link{
            //     margin-top: 20px;
            //     .dis_{
            //         padding-top: 10px;
            //     }
            // }
        }
        #companylogo{
            height: 20px;
        }
    }
}
@media only screen and (max-width: 769px) {
    .first_section{
        margin-bottom: 60px;
    }
    .rightside {
        margin-top: 20px;
    }
    .footer {
        .row {
            .crd {
                width: 36% !important;
            }
        }
    }
}

@media only screen and (max-width: 424px) {
    
    .second_section .main_2 .problem p {
        letter-spacing: 0px;
        color: #3C2F2F;
        opacity: 1;
        font-family: "fontGraphikBold";
        font-size: 20px;
        margin-bottom: 0px;
    }
    .redline {
        text-align: center;
        width: 50% !important;
    }
}



.founder_bridges {
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 60px;
    padding: 60px;
    
    .brg {
        text-align: center;
        margin: auto;
        padding-left: 5%;
    }

    .purpose_title {
        text-align: center;

        p {
            color: #3C2F2F;
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 0px;
        }
    }

    
    .bridge_img {
        width: 230px;
        padding: 13px;
        margin: auto;
        display: block;
        .brg_img_div {
            display: flex;
            
            
        }
        .brg_img_div_arr_mbl {
            display: none;
        }

        .brg_img_div_arr_dsk {
            position: absolute;
            right: -74px;
            top: 84px;
            margin: auto;
        }
    }
    .bridge_name {
        color: #3C2F2F;
        opacity: 0.8;
        font-family: fontGraphikMedium;
        font-weight: 600;
        font-size: 17px;
        width: 170px;
        margin: auto;
        text-align: center;
        // margin-top: -20px;
        // margin-top: -78px;
    }
    .bridge_name1{
        // margin-left: 20px;   
        margin-top: -14px;
    }
    @media (max-width:992px) and (min-width:767px){
        .varying-size{
            width: 65%;
        }
        .modify{
            width: 65%;
        }
        .modify1{
            width: 65%;
        }
        .bridge_name{
            width: 150px;
            margin-left: 0px;
            margin-right: 0px;
        }
        .bridge_name1{
            margin-left: 16px;   
            margin-top: -14px;
        }
        .bridge_img{
            .brg_img_div_arr_dsk {
                right: -45px;
                top: 32px;
            }
        }
    }
    @media (max-width:1199px) and (min-width:993px){
        .bridge_img {
            width: 210px;
            .brg_img_div_arr_dsk{
                right: -66px;
                top: 66px;
            }
        }
    }
}

.kudos-holder{
    margin: 40px 30px;
    .boxs {
        width: 270px;
        margin: 20px;
        .box {
            width: 100%;
            display: grid;
            align-items: center;
            height: 220px;
            padding: 30px 24px;

            span {
                width: 24px;
                height: 24px;
                text-align: center;
                margin: auto;
                margin-bottom: 10px;
                background-color: blue;
                background: url(/assets/svg/in-love.svg);
                background-size: 24px;
                background-repeat: no-repeat;
            }


            h3 {
                text-align: center;
                font-size: 16px;
                color: #3C2F2F;
                word-break: break-word !important;
                padding-bottom: 20%;
            }
            p {
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                opacity: 0.8;
                line-height: 1em;
            }
            h3,p{
                font-family: fontGraphikRegular;
            }

            h6 {
                text-align: center;
                font-size: 15px;
                font-weight: bold;
                font-family: fontGraphikMedium;
                color: #3C2F2F;
                opacity: 0.95;
            }
            &-1{
                background: #FCD0F9;
            }
            &-2{
                background: #C7FFFD;
            }
            &-3{
                background: #FFFFC7;    
            }
        }
        .stick-notes-bottom{
            position: absolute; 
            bottom: 0; 
            left: 0; 
            right: 0;
            @media (max-width:767px){
                bottom: 15px;
            }
        }
    }

    .effect3 {
        position: relative;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .effect3:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        background: #777;
        max-width: 300px;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
}
.purpose_title {
    text-align: center;

    p {
        letter-spacing: 0px;
        color: #3C2F2F;
        opacity: 1;
        font-family: "fontGraphikBold";
        font-size: 28px;
        margin-bottom: 0px;
    }
}

@media (max-width: 767px){
    .varying-size{
        width: 80%;
    }
    .founder_bridges {
        padding: 48px 0px 60px;
        .brg{
            padding-left: 0px !important;
        }
        .brg_img_div_arr_dsk {
            display: none;
        }

        .brg_img_div_arr_mbl {
            margin: auto;
            display: block !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .bridge_img {
            margin: auto;
            padding-bottom: 12px;

            .brg_img_div {
                display: unset;
            }
        }
        .bridge_name {
            font-size: 17px;
            width: 100%;
            margin-top: -48px;
            text-align: center !important;
        }

        .bridge_name1 {
            margin: auto;
            margin-top: -38px;
            width: 230px;
        }
    }
    .modify
    {
        position:relative;
        margin-top: -50px !important;
    }
    .on-md-before{
        margin-top: -38px !important;
    }
    .modify1
    {
        position:relative;
        margin-top: -86px !important;
    }
    
    .kudos-holder{   
        .boxs {
           width: 200px;
           .box {
               h3 {
                   font-size: 13px;
               }

               p {
                   font-size: 13px;
                   margin-bottom: 0px;
               }
           }
        }
    }
}

@media only screen and (max-width: 426px) {
    .footer .row .crd {
        width: 25% !important;
    }
    .founder{
        padding-left: 0px;
        padding-right: 0px;
    }
    .founder_bridges {
        .bridge_name {
            // margin-top: -60px;
            margin-top: -30px !important;
            margin: auto;
        }
        .bridge_name1 {
            margin-top: -30px;
            width: 200px;
        }
    }
    .on-md-before{
        margin-top: -45px !important;
    }
    .title_expansion {
        font-size: 34px !important;
        border-bottom: dashed 1px #00000026;
        padding-bottom: 12px;
    }
    .second_section .content_details .details p {
        letter-spacing: 0px;
        line-height: 2.0;
        color: #3C2F2F;
        opacity: 1;
        font-family: fontGraphikRegular;
        font-size: 14px;
        text-align: center;
    }
    .whole_featured .icons .icons_
    {
        height: 28px !important;
        width: 80px !important;
    }
    .featured_in .whole_featured .heading .featured .featured_title {
        letter-spacing: 0px;
        color: #3C2F2F;
        opacity: 1;
        font-family: "fontGraphikBold";
        font-size: 22px ;
    }
    
    .second_section {
        .content_details {
            .details {
                p {
                    width: 89%;
                    margin: auto;
                }
            }
        }
    }
    .get_app .get {
        background-color: #3C2F2F;
        padding: 0px;
        border-radius: 40px;
        .left_side_content{
            padding: 40px 8% 40px 8%;
            .saviour 
                p {
                    color: white;
                    margin-top: 31px;
                    text-align:center;
                }
                .boldfont
                {
                p 
                {
                    text-align: center;
                    line-height: 1.4em;
                    font-size: 25px !important;
                }
                }
        }
    }
    .playstore
    {
        margin-top: 10px;
    }
.details__
{
    font-size: 16px !important;
}
.purpose_title p {
    font-size: 20px !important;
}

.featured_in {
        .whole_featured {
            padding: 0px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .heading {
            width: 100%;
        }
    }
}
///owl carousel
.kudos{
    margin-top: 60px;
    .owl-carousel{
        margin-top: 10px;
    }
}