:root {
  --colorWhite: #FFFFFF;
  --colorBlueGender: #3D8FF7;
  --colorBlueGenderLight: #99C4FE;
  --colorPinkGender: #E23F7B;
  --colorPinkGenderLight: #F48EB6;
  --global-size: 20px;
  --ribbon-size: var(--global-size);
  --ribbon-bg: var(--colorBlueGender);
  --ribbon-fg: var(--colorWhite);
  --tag-size: var(--global-size);
  --tag-bg: var(--colorPinkGender);
  --tag-fg: var(--colorWhite);
}

@font-face {
  font-family: "fontGraphikBold";
  src: url("../plugin/fonts/graphik/GraphikBold.otf");
}

@font-face {
  font-family: "fontGraphikMedium";
  src: url("../plugin/fonts/graphik/GraphikMedium.otf");
}

@font-face {
  font-family: "fontGraphikLight";
  src: url("../plugin/fonts/graphik/GraphikLight.otf");
}

@font-face {
  font-family: "fontGraphikSemibold";
  src: url("../plugin/fonts/graphik/GraphikSemibold.otf");
}

@font-face {
  font-family: "fontGraphikRegular";
  src: url("../plugin/fonts/graphik/GraphikRegular.otf");
}

.fontGraphikMedium {
  font-family: "fontGraphikMedium";
}

.fontGraphikRegular {
  font-family: "fontGraphikRegular";
}

.fontGraphikLight {
  font-family: "fontGraphikLight";
}

.fontGraphikBold {
  font-family: "fontGraphikBold";
}

.fontGraphikSemibold {
  font-family: "fontGraphikSemibold";
}

.fontLatoBold {
  font-family: "fontLatoBold";
}

.fontLatoRegular {
  font-family: fontGraphikRegular;
}

.fontLatoBlack {
  font-family: "fontLatoBlack";
}

.fontNova {
  font-family: "fontNova";
}

#pre-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: 150% 150%;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  z-index: 99999999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

#pre-loader img {
  width: 200px;
}

.first_section {
  margin-top: 160px;
  margin-bottom: 60px;
  font-family: fontGraphikRegular;
}

@media (max-width: 768px) {
  .first_section {
    margin-top: 120px;
    margin-bottom: 20px !important;
  }
}

.first_section .main .row_1 .ribbon-right {
  padding-bottom: 30px;
}

.first_section .main .row_1 .ribbon-right .ribbon-content-box {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first_section .main .row_1 .ribbon-right #ribbon-container {
  position: absolute;
  font-size: 16px;
  font-weight: 1000;
  line-height: 18px;
  color: #B71C1C;
}

@media (max-width: 767px) {
  .first_section .main .row_1 .ribbon-right #ribbon-container {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .first_section .main .row_1 .ribbon-right #ribbon-container {
    font-size: 12px;
  }
}

.first_section .main .row_1 .ribbon-right #ribbon-container a {
  display: block;
  padding: 12px 50px 10px 18px;
  position: relative;
  background-color: #B71C1C0F;
  text-decoration: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.first_section .main .row_1 .ribbon-right #ribbon-container a:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid;
}

.first_section .main .row_2 .title_expansion {
  font-family: "fontGraphikSemibold";
  padding-top: 10px;
  letter-spacing: 0.5px;
  color: #3C2F2F;
  opacity: 1;
  font-size: 56px;
  line-height: 1.1;
  overflow-wrap: break-word;
}

@media (max-width: 998px) {
  .first_section .main .row_2 .title_expansion {
    font-size: 40px;
  }
}

.first_section .main .row_3 {
  padding-top: 10px;
}

.first_section .main .row_3 .theme_udhiram {
  margin: 8px 0px;
  color: #767373;
  font-family: "fontGraphikRegular";
  font-size: 24px;
  overflow-wrap: break-word;
}

.first_section .main .row_4 {
  padding-top: 0.4em;
}

.first_section .main .row_4 .icons_button btn {
  padding: 0px;
  border-radius: 8px;
  font-family: "fontGraphikMedium";
  font-size: 12px;
}

.first_section .main .row_4 .icons_button btn svg {
  width: 200px;
  height: 100%;
}

@media (max-width: 992px) {
  .first_section .main .row_4 .icons_button btn svg {
    width: 140px;
  }
}

@media (max-width: 767px) {
  .first_section .main .row_4 .icons_button btn svg {
    width: 160px;
  }
}

@media (max-width: 392px) {
  .first_section .main .row_4 .icons_button btn svg {
    width: 120px;
  }
}

@media (max-width: 468px) {
  .first_section .main .row_4 .icons_button btn {
    margin-top: 15px;
  }
}

.first_section .main .illustration_svg {
  width: 100%;
  height: 100%;
}

.second_section .problems_ {
  padding-top: 30px;
  background: #00000005 !important;
  border-radius: 100px;
  opacity: 1;
  margin-left: 90px;
  margin-right: 90px;
}

.second_section .main_2 {
  width: 100%;
  overflow: hidden;
}

.second_section .main_2 .problem p {
  letter-spacing: 0px;
  color: #3C2F2F;
  opacity: 1;
  font-family: "fontGraphikBold";
  font-size: 30px;
  margin-bottom: 0px;
}

.second_section .main_2 .problem .underline_red {
  text-align: center;
}

.second_section .content_details .details {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 180px;
}

.second_section .content_details .details p {
  letter-spacing: 0px;
  line-height: 2.0;
  color: #3C2F2F;
  opacity: 1;
  font-family: fontGraphikRegular;
  font-size: 20px;
  text-align: center;
}

.second_section .head_card {
  margin-top: -160px;
}

.second_section .head_card .mid-card {
  z-index: 3;
}

.second_section .head_card .inside {
  height: 280px;
  width: 280px;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 50px #6059590D;
          box-shadow: 0px 5px 50px #6059590D;
  border: 1px solid #0000001A;
}

.second_section .head_card .inside .icons {
  height: 70px;
  width: 70px;
  background-color: #B71C1C0D;
  text-align: center;
  border-radius: 60px;
  margin: auto;
  margin-top: 35px;
}

.second_section .head_card .inside .icons .icon_svg {
  padding-top: 15px;
  height: 65%;
  width: 100%;
}

.second_section .head_card .inside .card-title {
  font-family: fontGraphikSemibold;
  margin-top: 5px;
  font-size: 17px;
  color: #3C2F2F;
}

.second_section .head_card .inside .details__ {
  font-family: fontGraphikRegular;
  color: #767373;
  text-align: center;
}

@media (max-width: 762px) {
  .second_section .head_card .inside .card-title {
    font-size: 20px;
  }
  .second_section .head_card .inside .details__ {
    font-size: 18px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .second_section .head_card .inside {
    margin-top: 20px;
  }
}

@media (max-width: 767px) and (min-width: 0px) {
  .second_section .problems_ {
    margin-left: 0px;
    margin-right: 0px;
    background: #0000000a !important;
    height: 255px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .second_section .content_details {
    word-break: break-word;
    overflow: hidden;
  }
  .second_section .head_card {
    padding-top: 60px;
    background: #0000000a !important;
    margin-top: 0px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .second_section .head_card .inside {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .head_card {
    padding-top: 0px !important;
  }
  .head_card .inside {
    width: 90% !important;
  }
}

.founder {
  background: #FFF5F5 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 40px 20px;
}

.founder .purpose_title {
  text-align: center;
}

.founder .purpose_title p {
  letter-spacing: 0px;
  color: #3C2F2F;
  opacity: 1;
  font-family: "fontGraphikBold";
  font-size: 28px;
  margin-bottom: 0px;
}

.founder .content_founder {
  padding: 20px;
}

.founder .content_founder .founder_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.founder .content_founder .founder_mobile .left_side_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 40%;
}

.founder .content_founder .founder_mobile .inside_content p {
  letter-spacing: 0px;
  color: #3C2F2F;
  opacity: 1;
  font-family: "fontGraphikMedium";
  line-height: 2.0;
  font-size: 20px;
}

.founder .content_founder .founder_mobile .inside_content dt {
  letter-spacing: 0px;
  color: #B71C1C;
  opacity: 1;
  font-family: "fontGraphikBold";
  font-size: 18px;
}

.founder .content_founder .founder_mobile .inside_content dd {
  letter-spacing: 0px;
  color: #767373;
  opacity: 1;
  font-size: 14px;
  font-family: "fontGraphikMedium";
}

.founder .content_founder .founder_mobile .image_holder {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 400px;
}

.founder .content_founder .founder_mobile .image_holder #founder_image {
  width: 100%;
}

@media (max-width: 767px) and (min-width: 426px) {
  .founder .content_founder .founder_mobile .image_holder #founder_image {
    width: 50% !important;
  }
}

@media (max-width: 767px) {
  .founder .content_founder {
    padding: 0px;
  }
  .founder .content_founder .founder_mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .founder .content_founder .founder_mobile .left_side_content {
    display: block;
    width: 100%;
    padding: 0px 10px;
    margin: auto;
    text-align: justify;
  }
  .founder .content_founder .founder_mobile .left_side_content .inside_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .founder .content_founder .founder_mobile .left_side_content .inside_content p {
    font-size: 18px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .founder .content_founder .founder_mobile .left_side_content .inside_content dt {
    font-size: 16px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .founder .content_founder .founder_mobile .left_side_content .inside_content dd {
    font-size: 12px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .founder .content_founder .founder_mobile .image_holder {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .founder .content_founder .founder_mobile .image_holder #founder_image {
    width: 100%;
  }
}

.get_app {
  margin: 60px 10px;
}

.get_app .get {
  background-color: #3C2F2F;
  padding: 60px;
  border-radius: 50px;
}

.get_app .get .saviour {
  font-family: fontGraphikLight;
  font-size: 18px;
}

.get_app .get .left_side_content {
  padding: 20px;
  background-image: url("../assets/svg/Group1613.svg");
  background-repeat: repeat;
  background-position: cover;
}

@media (max-width: 565px) {
  .get_app .get .left_side_content {
    background-image: none;
  }
}

.get_app .get .left_side_content .boldfont {
  opacity: 0.95;
}

.get_app .get .left_side_content .boldfont p {
  color: white;
  font-family: "fontGraphikSemibold";
  font-size: 34px;
}

.get_app .get .left_side_content p {
  color: white;
}

.get_app .get .left_side_content .badge {
  display: block;
  width: 220px;
  margin-left: -18px;
  cursor: pointer;
}

@media (max-width: 575px) {
  .get_app .get .left_side_content .badge {
    margin: auto;
  }
}

.get_app .get .blood_man_image {
  position: absolute;
  top: -130px;
  right: 10%;
  width: 255px;
}

@media (max-width: 991px) and (min-width: 768px) {
  .get_app .get .blood_man_image {
    position: absolute;
    top: -26px;
    right: -2%;
    width: 180px;
  }
}

@media (max-width: 767px) {
  .get_app .get .blood_man_image {
    display: none;
  }
}

.get_app .get .icons_button btn {
  padding: 0px;
  border-radius: 8px;
  font-family: "fontGraphikMedium";
  font-size: 12px;
}

.get_app .get .icons_button btn svg {
  width: 180px;
  height: auto;
}

@media (max-width: 992px) {
  .get_app .get .icons_button btn svg {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .get_app .get .icons_button btn svg {
    width: 180px;
  }
}

@media (max-width: 468px) {
  .get_app .get .icons_button btn {
    margin-top: 15px;
  }
}

.navigation {
  background-color: white;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
  width: 100%;
  height: 80px;
}

.navigation.-hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.navigation .btn {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 1.45px 0px #0000000F;
          box-shadow: 0px 1.45px 0px #0000000F;
  border: 1px solid #0000001A;
  border-radius: 10px;
  font-size: 15px;
  opacity: 1;
  font-weight: 600;
  padding: 10px 24px;
}

@media (max-width: 425px) {
  .navigation .btn {
    font-size: 14px;
    padding: 10px 17px;
  }
}

.navigation .hidn {
  margin-bottom: 22px;
}

@media (max-width: 526px) {
  .navigation .hidn {
    display: none;
  }
}

.navigation .navigation-logo {
  width: 165px;
}

.navigation .navigation-logo img {
  width: 100%;
  height: auto;
}

.navigation-container {
  line-height: 24px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-items {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-items .rbn {
  font-size: 9px;
  padding: 3px 4px;
  position: relative;
  right: -112px;
  top: 0.5px;
  width: 35px;
  height: 17px;
  border-radius: 3px;
  background: #0EB58F;
  line-height: 1.1;
  cursor: pointer;
  color: #fff;
}

.navigation-items > li {
  list-style-type: none;
  font-size: 16px;
  color: #B71C1C;
  font-weight: 600;
  cursor: pointer;
}

.navigation-items > li:nth-child(1) {
  margin: 0px;
}

.navigation-items .privacy_page {
  font-size: 14px;
}

.navigation-items .privacy_page .privacy_lead a {
  color: #767373;
}

.navigation-items .privacy_page .privacy_lead a:hover {
  color: #B71C1C;
}

.featured_in {
  background-color: #F8FAFF;
}

.featured_in .whole_featured {
  padding: 40px;
}

.featured_in .whole_featured .heading .featured {
  text-align: center;
  margin-bottom: 24px;
}

.featured_in .whole_featured .heading .featured .featured_title {
  margin-bottom: 0px;
  letter-spacing: 0px;
  color: #3C2F2F;
  opacity: 1;
  font-family: "fontGraphikBold";
  font-size: 28px;
}

.featured_in .whole_featured .iconsList {
  overflow: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.featured_in .whole_featured .icons {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.featured_in .whole_featured .icons .icons_ {
  height: 60px;
  width: 150px;
  color: #B4B4B4 !important;
  fill: #B4B4B4;
}

@media (max-width: 568px) {
  .featured_in .whole_featured .icons .null-icon {
    display: none;
  }
  .featured_in .whole_featured .icons .icons_ {
    width: 120px;
  }
}

@media (min-width: 568px) {
  .featured_in .whole_featured .icons .icons_ {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .featured_in .whole_featured .icons .icons_ {
    width: 190px;
  }
}

.footer {
  padding: 40px !important;
  background: #F8FAFF 0% 0% no-repeat padding-box;
  width: 100%;
  border-top: 1px solid rgba(25, 34, 79, 0.08);
  padding: 12px 0px;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .row .crd {
  width: 16%;
  margin-top: 0px;
}

.footer .row .footer_list {
  padding: 15px 80px 15px 0px;
  margin: 0;
}

.footer .row .footer_list span {
  font-size: 1rem;
  color: #3C2F2F;
  cursor: pointer;
}

.footer .row .base-border-line {
  display: none;
  background-color: #0000001A;
}

.footer .row .social_icon_link {
  text-align: right;
  padding: 10px;
}

.footer .row .social_icon_link .dis_ {
  margin-right: -9.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .row .social_icon {
  width: 34px;
  height: 32px;
  margin: 10px 10px 22px 0px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(29, 46, 137, 0.05);
}

.footer .row .social_icon:hover {
  border: solid 1px #d4e4e6;
  -webkit-box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
          box-shadow: 0 3px 1px 0 rgba(55, 89, 93, 0.07);
  background-color: #F8FAFF 0% 0% no-repeat padding-box;
}

.footer .row .social_icon i {
  margin: auto;
  color: #000;
}

.footer .row #companylogo {
  height: 24px;
  padding-bottom: 2px;
  padding-left: 10px;
}

.footer .row .footer_address {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0;
}

.footer .row .footer_address .navigation-logos {
  width: 187px;
}

.footer .row .footer_address .from_our_heart {
  font-family: fontGraphikRegular;
  font-size: 14px;
}

.footer .mail {
  width: 100%;
  border-right: 1px solid rgba(25, 34, 79, 0.08);
  font-family: fontGraphikMedium;
  font-size: 14px;
  color: #3C2F2F;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  .footer .footer_social_media .row .social_icon_link {
    text-align: left;
  }
  .footer .footer_social_media .row .social_icon_link .dis_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .footer .row .footer_address {
    padding-left: 30px !important;
  }
  .footer .row .base-border-line {
    display: block;
    margin-top: 18px;
    margin-bottom: 16px;
  }
  .footer .row .social_icon_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    padding-left: 30px;
  }
  .footer .row .social_icon_link .dis_ {
    margin-left: -2.6px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .row .social_icon_link .mail {
    text-align: start;
    font-family: fontGraphikRegular;
    font-size: 12px;
    color: #767373;
  }
  .footer .row .base-border-line {
    display: block;
  }
  .footer #companylogo {
    height: 20px;
  }
}

@media only screen and (max-width: 769px) {
  .first_section {
    margin-bottom: 60px;
  }
  .rightside {
    margin-top: 20px;
  }
  .footer .row .crd {
    width: 36% !important;
  }
}

@media only screen and (max-width: 424px) {
  .second_section .main_2 .problem p {
    letter-spacing: 0px;
    color: #3C2F2F;
    opacity: 1;
    font-family: "fontGraphikBold";
    font-size: 20px;
    margin-bottom: 0px;
  }
  .redline {
    text-align: center;
    width: 50% !important;
  }
}

.founder_bridges {
  background: #FAFAFA 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 60px;
  padding: 60px;
}

.founder_bridges .brg {
  text-align: center;
  margin: auto;
  padding-left: 5%;
}

.founder_bridges .purpose_title {
  text-align: center;
}

.founder_bridges .purpose_title p {
  color: #3C2F2F;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
}

.founder_bridges .bridge_img {
  width: 230px;
  padding: 13px;
  margin: auto;
  display: block;
}

.founder_bridges .bridge_img .brg_img_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.founder_bridges .bridge_img .brg_img_div_arr_mbl {
  display: none;
}

.founder_bridges .bridge_img .brg_img_div_arr_dsk {
  position: absolute;
  right: -74px;
  top: 84px;
  margin: auto;
}

.founder_bridges .bridge_name {
  color: #3C2F2F;
  opacity: 0.8;
  font-family: fontGraphikMedium;
  font-weight: 600;
  font-size: 17px;
  width: 170px;
  margin: auto;
  text-align: center;
}

.founder_bridges .bridge_name1 {
  margin-top: -14px;
}

@media (max-width: 992px) and (min-width: 767px) {
  .founder_bridges .varying-size {
    width: 65%;
  }
  .founder_bridges .modify {
    width: 65%;
  }
  .founder_bridges .modify1 {
    width: 65%;
  }
  .founder_bridges .bridge_name {
    width: 150px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .founder_bridges .bridge_name1 {
    margin-left: 16px;
    margin-top: -14px;
  }
  .founder_bridges .bridge_img .brg_img_div_arr_dsk {
    right: -45px;
    top: 32px;
  }
}

@media (max-width: 1199px) and (min-width: 993px) {
  .founder_bridges .bridge_img {
    width: 210px;
  }
  .founder_bridges .bridge_img .brg_img_div_arr_dsk {
    right: -66px;
    top: 66px;
  }
}

.kudos-holder {
  margin: 40px 30px;
}

.kudos-holder .boxs {
  width: 270px;
  margin: 20px;
}

.kudos-holder .boxs .box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 220px;
  padding: 30px 24px;
}

.kudos-holder .boxs .box span {
  width: 24px;
  height: 24px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: blue;
  background: url(/assets/svg/in-love.svg);
  background-size: 24px;
  background-repeat: no-repeat;
}

.kudos-holder .boxs .box h3 {
  text-align: center;
  font-size: 16px;
  color: #3C2F2F;
  word-break: break-word !important;
  padding-bottom: 20%;
}

.kudos-holder .boxs .box p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
  line-height: 1em;
}

.kudos-holder .boxs .box h3, .kudos-holder .boxs .box p {
  font-family: fontGraphikRegular;
}

.kudos-holder .boxs .box h6 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: fontGraphikMedium;
  color: #3C2F2F;
  opacity: 0.95;
}

.kudos-holder .boxs .box-1 {
  background: #FCD0F9;
}

.kudos-holder .boxs .box-2 {
  background: #C7FFFD;
}

.kudos-holder .boxs .box-3 {
  background: #FFFFC7;
}

.kudos-holder .boxs .stick-notes-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {
  .kudos-holder .boxs .stick-notes-bottom {
    bottom: 15px;
  }
}

.kudos-holder .effect3 {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}

.kudos-holder .effect3:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  background: #777;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.purpose_title {
  text-align: center;
}

.purpose_title p {
  letter-spacing: 0px;
  color: #3C2F2F;
  opacity: 1;
  font-family: "fontGraphikBold";
  font-size: 28px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .varying-size {
    width: 80%;
  }
  .founder_bridges {
    padding: 48px 0px 60px;
  }
  .founder_bridges .brg {
    padding-left: 0px !important;
  }
  .founder_bridges .brg_img_div_arr_dsk {
    display: none;
  }
  .founder_bridges .brg_img_div_arr_mbl {
    margin: auto;
    display: block !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .founder_bridges .bridge_img {
    margin: auto;
    padding-bottom: 12px;
  }
  .founder_bridges .bridge_img .brg_img_div {
    display: unset;
  }
  .founder_bridges .bridge_name {
    font-size: 17px;
    width: 100%;
    margin-top: -48px;
    text-align: center !important;
  }
  .founder_bridges .bridge_name1 {
    margin: auto;
    margin-top: -38px;
    width: 230px;
  }
  .modify {
    position: relative;
    margin-top: -50px !important;
  }
  .on-md-before {
    margin-top: -38px !important;
  }
  .modify1 {
    position: relative;
    margin-top: -86px !important;
  }
  .kudos-holder .boxs {
    width: 200px;
  }
  .kudos-holder .boxs .box h3 {
    font-size: 13px;
  }
  .kudos-holder .boxs .box p {
    font-size: 13px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 426px) {
  .footer .row .crd {
    width: 25% !important;
  }
  .founder {
    padding-left: 0px;
    padding-right: 0px;
  }
  .founder_bridges .bridge_name {
    margin-top: -30px !important;
    margin: auto;
  }
  .founder_bridges .bridge_name1 {
    margin-top: -30px;
    width: 200px;
  }
  .on-md-before {
    margin-top: -45px !important;
  }
  .title_expansion {
    font-size: 34px !important;
    border-bottom: dashed 1px #00000026;
    padding-bottom: 12px;
  }
  .second_section .content_details .details p {
    letter-spacing: 0px;
    line-height: 2.0;
    color: #3C2F2F;
    opacity: 1;
    font-family: fontGraphikRegular;
    font-size: 14px;
    text-align: center;
  }
  .whole_featured .icons .icons_ {
    height: 28px !important;
    width: 80px !important;
  }
  .featured_in .whole_featured .heading .featured .featured_title {
    letter-spacing: 0px;
    color: #3C2F2F;
    opacity: 1;
    font-family: "fontGraphikBold";
    font-size: 22px;
  }
  .second_section .content_details .details p {
    width: 89%;
    margin: auto;
  }
  .get_app .get {
    background-color: #3C2F2F;
    padding: 0px;
    border-radius: 40px;
  }
  .get_app .get .left_side_content {
    padding: 40px 8% 40px 8%;
  }
  .get_app .get .left_side_content .saviour
p {
    color: white;
    margin-top: 31px;
    text-align: center;
  }
  .get_app .get .left_side_content .boldfont p {
    text-align: center;
    line-height: 1.4em;
    font-size: 25px !important;
  }
  .playstore {
    margin-top: 10px;
  }
  .details__ {
    font-size: 16px !important;
  }
  .purpose_title p {
    font-size: 20px !important;
  }
  .featured_in .whole_featured {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .featured_in .heading {
    width: 100%;
  }
}

.kudos {
  margin-top: 60px;
}

.kudos .owl-carousel {
  margin-top: 10px;
}
/*# sourceMappingURL=index.css.map */